.SearchScreen {
    width: 90%;
}

.LoadButton {
    position:fixed;
    top:75vh;
    right: 12vh;
    width: 40px;
    height: 40px;

    cursor: default;
}

.PostButton {
    position:fixed;
    top:82vh;
    right: 12vh;
    width: 40px;
    height: 40px;

    cursor: default;
}

.PostButton:hover {
    filter: brightness(150%);
}