@import "../../styles/colorTheme.css";

.NavigationBar {
    position: fixed;
    right: 0;
    top: 0;
    display:flex;
    width: 5vw;
    height: 100%;
  
    flex-direction: column;
    align-items: center;
  
    background-color: var(--sub);
}

.NavigationBarContent {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
  
.NavigationButton {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 40px;
    height: 40px;

    padding: 0 0 0 0;

    background-color:rgba(0, 0, 0, 0);
    border-style:none;
}

.NavigationButton:hover {
    filter: brightness(150%);
}

.LoginButton {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    width: 45px;
    height: 25px;

    background-color: var(--highlight);
    color: var(--text);
    border-style: none;
    border-radius: 20px;

    font-weight: 700;
    font-size: 11px;
    line-height: 25px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: default;
}

.LoginButton:hover {
    filter: brightness(150%);
}

.LoginButton >a {
    width: 70px;
    height: 30px;
    color: #fff;
    text-decoration: none;
    cursor: default;
}

@media (max-width: 800px) {
    .NavigationBar {
        position: fixed;
        right: 0;
        top: 0;
        display:flex;
        width: 15vw;
        min-width: 55px;
        height: 100%;
      
        flex-direction: column;
        align-items: center;
      
        background-color: var(--sub);
    }
    
}