@import "../../styles/colorTheme.css";

.NoticeContainer {
    margin: 3px;
    height: 85vh;

    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    border-color: var(--bright);

}

.NoticeHeader {
    margin: 15px;

    height: auto;
    display: flex;
    text-align: center;
    justify-content: center;
}

.NoticeProvider {
    height: 75vh;
    overflow: scroll;
    scrollbar-width: 2px;
}

.NoticeProvider::-webkit-scrollbar:vertical{
    display:block;
    width:5px;
    overflow: auto;
    background-color: var(--transparent);
}
.NoticeProvider::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: var(--gray);
}


.NoticeBar {
    display: flex;
    flex-direction: row;
    margin: 10px;
    margin-right:auto;
    margin-left:auto;
    width: 90%;
    height: 7vh;

    border-color: var(--bright);
    font-size: 11px;
}

.NoticeCheckbox {
    display: flex;
    height: 95%;
    width: 10vh;

    border-color: var(--bright);
    border-radius: 10px;
    border-width: 1px;
    border-style:solid;

    overflow: scroll;
    align-items: center;
    justify-content: center;
}

.NoticeContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    margin-left: 5px;
    
    border-color: var(--text);
    border-radius: 10px;
    border-width: 2px;
    border-style:none;

    background-color: var(--transparentBlack);
    
    padding-left: 10px;
    padding-right: 10px;

    overflow: scroll;
    text-align: left;
    align-items: baseline;
    justify-content: center;


}