.PostReadScreen {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.PostHeader {
    margin: 5vh;
    display: flex;
    width:90%;
    justify-content: space-between;
}

.PostHeaderTitle {
    flex: 1;
    font-size: 36px;
    font-weight: 700;
}

.PostData {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    width:90%;
    justify-content: space-between;
}

.PostHeaderDate {
    flex: 0.6;
    text-align: left;
    font-size: 17px;
}

.PostHeaderWriter {
    flex: 0.4;
    text-align: right;
    font-size: 17px;
}

.PostReaderWindow {
    margin-bottom:100px;
    display: flex;
    flex: 1;
    padding: 5%;
    border-radius: 10px;
    width: 90%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.mdReader {
    padding: 5%;
    text-align: left;
    border-radius: 10px;
    width: 90%;
    height: 100%;

    white-space: pre-wrap;
}

.visible{
    display: block;
}

.invisible{
    display: none;
}

@media (max-width: 800px) {
    .PostHeaderTitle {
        flex: 1;
        font-size: 6vw;
        font-weight: 700;
    }
    .PostHeaderDate {
        flex: 0.6;
        text-align: left;
        font-size: 3vw;
    }
    
    
    .PostHeaderWriter {
        flex: 0.4;
        text-align: right;
        font-size: 3vw;
    }
    
}