@import "../../styles/colorTheme.css";

.ViewArea {
    display: flex;
    width: 94%;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;

    background-color: var(--main, #222);
  }

@media (max-width: 800px) {
  .ViewArea {
    display: flex;
    width: 88%;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: middle;

    background-color: var(--main, #222);
  }
}